---
import { getCourseBySlug, getSectionsBySlug } from "@/content/_repository";
import MdContents from "@/components/document/MdContents.astro";
import { CANONICALS } from "@/config";
import WithSideLayout from "@/components/layouts/WithSideLayout.astro";
import SectionList from "./_components/SectionList.astro";
import SectionTitle from "./_components/SectionTitle.astro";
import ContentWrapper from "./_components/ContentWrapper.astro";

const { course_slug } = Astro.params;
if (!course_slug) return Astro.redirect("/");
const course = await getCourseBySlug(course_slug);
if (!course) return Astro.redirect("/");
const { Content } = await course.render();
const sections = await getSectionsBySlug(course_slug);
---

<WithSideLayout
  title={course.data.title}
  canonical={CANONICALS.COURSE_DETAIL_TOP(course_slug)}
>
  <div slot="left">
    <SectionTitle title={course.data.title} courseSlug={course_slug} />
    <SectionList sections={sections} courseSlug={course_slug} />
  </div>
  <ContentWrapper title={course.data.title}>
    <MdContents>
      <Content />
    </MdContents>
  </ContentWrapper>
</WithSideLayout>
