---
import "@/styles/global.css";
import Head, { type Props as HeadProps } from "./_components/Head.astro";
import Header from "./_components/Header.astro";
import { styles } from "./WithSideLayout.css";
import LeftPanel from "./_components/LeftPanel.astro";

export type Props = HeadProps;

const { title, description, canonical } = Astro.props;
---

<html lang="ja">
  <Head title={title} description={description} canonical={canonical} />
  <body>
    <div class={styles.container}>
      <LeftPanel>
        <slot name="left" />
      </LeftPanel>
      <main class={styles.main}>
        <slot />
      </main>
    </div>
  </body>
</html>
