---
import { CourseRepository } from "@/content/_repository";
import MdContents from "@/components/document/MdContents.astro";
import { CANONICALS } from "@/config";
import WithSideLayout from "@/components/layouts/WithSideLayout.astro";
import SectionList from "../_components/SectionList.astro";
import ContentWrapper from "../_components/ContentWrapper.astro";
import SectionTitle from "../_components/SectionTitle.astro";

const { course_slug, section_slug } = Astro.params;
if (!course_slug || !section_slug) return Astro.redirect("/");
const courseRepository = await CourseRepository.create();
const course = courseRepository.getCourseBySlug(course_slug);
if (!course) return Astro.redirect("/");
const section = courseRepository.getSectionBySlug(course_slug, section_slug);
if (!section) return Astro.redirect("/");
const { Content } = await section.render();
const sections = courseRepository.getSectionsBySlug(course_slug);
---

<WithSideLayout
  title={section.data.title}
  canonical={CANONICALS.COURSE_DETAIL(course_slug, section_slug)}
>
  <div slot="left">
    <SectionTitle title={course.data.title} courseSlug={course_slug} />
    <SectionList sections={sections} courseSlug={course_slug} />
  </div>
  <ContentWrapper title={section.data.title}>
    <MdContents>
      <Content />
    </MdContents>
  </ContentWrapper>
</WithSideLayout>
